body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    display: flex;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.image-container img {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
}

.form-container {
    text-align: center;
    width: 300px;
}

.form-control {
    margin-bottom: 15px;
}

h5 {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px; /* Añadido: separa el <h5> de los botones */
}
